@inherits Umbraco.Web.Mvc.UmbracoViewPage

<style>
 .home-hero{
     background:no-repeat center center;
     background-attachment:scroll;
     background-size:cover;
     position:relative;
     text-shadow: 2px 2px #bfbfbf;
     Color:white;
    }   
</style>
<div class="jumbotron jumbotron-fluid home-hero " style="background-image:url('/images/Hero image.jpg')">
  <div class="container">
    <h1 class="display-4">Mode Online</h1>
    
  </div>
</div>


